<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Faturamento
  </h1>
</section>

<!-- Main content -->
<section class="content">

  <div class="row">
  	<div class="col-md-12">
  		<div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title">Editar Faturamento</h3>
        </div>
        <!-- /.box-header -->
        <!-- form start -->
        {foreach $data as $item}
        <form role="form" action="/admin/faturamento/{$item.id}" method="post">
          <div class="box-body">
            <div class="form-group">
              <label for="lblvalor">Valor</label>
              <input type="text" class="form-control" id="valor" name="valor" placeholder="Digite o valor" value="{$item.valor}">
            </div>
            <div class="form-group">
              <label for="lblpratos">Pratos</label>
              <input type="text" class="form-control" id="pratos" name="pratos" placeholder="Digite o número de pratos"  value="{$item.pratos}">
            </div>
            <div class="form-group">
              <label for="lbldata">Data</label>
              <input type="date" class="form-control" id="data" name="data" placeholder="Digite a data"  value="{$item.data}">
            </div>
          </div>
          <!-- /.box-body -->
          <div class="box-footer">
            <button type="submit" class="btn btn-primary">Salvar</button>
          </div>
        </form>
        {/foreach}
      </div>
  	</div>
  </div>

</section>
<!-- /.content -->
</div>
<!-- /.content-wrapper -->